.table-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .inner-container {
    border: 2px solid black;
    margin: 0 40px;
    border-radius: 8px;
    padding: 2px;
    min-width: 435px;

    table {
      width: 100%;
      border-bottom: 2px solid black;
      border-top: 2px solid black;
    }
  }
}

.icon-container {
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: space-between;

  .edit {
    color: skyblue;
  }

  .delete {
    color: hsl(0, 57%, 49%);
  }
}

.search {
  display: flex;
  justify-content: flex-end;

  .input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 20px;
    margin: 20px 10px;
    border: 2px solid black;
    border-radius: 6px;
  }
}
